<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ site.title }}</title>
  </head>
  <body>
    <header>
      <h1><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
      <p>{{ site.description }}</p>
    </header>
    <nav>
      {% for p in site.pages %}
        {% if p.path contains 'chapters/' %}
          <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
    <main>
      {{ content }}
    </main>
  </body>
</html>